
    <!-- Page Header Start -->
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
      <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Add Fruits</h1>
        <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a class="text-body" href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a class="text-body" href="#">Pages</a>
            </li>
            <li class="breadcrumb-item text-dark active" aria-current="page">
              Add Fruits
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- ADD FTUIT FORM Start -->

    <!-- Contact Start -->
    <div class="container-xxl py-6">
      <div class="container">
        <div
          class="section-header text-center mx-auto mb-5 wow fadeInUp"
          data-wow-delay="0.1s"
          style="max-width: 500px"
        >
          <h1 class="display-5 mb-3">Contact Us</h1>
          <p>
            Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam
            justo sed rebum vero dolor duo.
          </p>
        </div>
        <div class="row g-5 justify-content-center">
          <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
            <div
              class="bg-primary text-white d-flex flex-column justify-content-center h-100 p-5"
            >
              <h5 class="text-white">Call Us</h5>
              <p class="mb-5">
                <i class="fa fa-phone-alt me-3"></i>+252 63 4352850
              </p>
              <h5 class="text-white">Email Us</h5>
              <p class="mb-5">
                <i class="fa fa-envelope me-3"></i>info@frshlyfruit.com
              </p>
              <h5 class="text-white">Office Address</h5>
              <p class="mb-5">
                <i class="fa fa-map-marker-alt me-3"></i>123 Street, New York,
                USA
              </p>
              <h5 class="text-white">Follow Us</h5>
              <div class="d-flex pt-2">
                <a
                  class="btn btn-square btn-outline-light rounded-circle me-1"
                  href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a
                  class="btn btn-square btn-outline-light rounded-circle me-1"
                  href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a
                  class="btn btn-square btn-outline-light rounded-circle me-1"
                  href=""
                  ><i class="fab fa-youtube"></i
                ></a>
                <a
                  class="btn btn-square btn-outline-light rounded-circle me-0"
                  href=""
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
            <p class="mb-4">
              The contact form is currently inactive. Get a functional and
              working contact form with Ajax & PHP in a few minutes. Just copy
              and paste the files, add a little code and you're done.
              <a href="https://htmlcodex.com/contact-form">Download Now</a>.
            </p>
            <!-- FORM  STAR-->
            <form action="/fruits" method="POST">
              <div class="row g-3">
                <!-- ID  -->
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="number"
                      class="form-control"
                      id="id"
                      name="id"
                      placeholder="Fruit ID"
                    />
                    <label for="name">Fruit ID</label>
                  </div>
                </div>

                <!-- NAME  -->
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Fruit Name"
                    />
                    <label for="email">Fruit Name</label>
                  </div>
                </div>

                <!-- PRICE  -->
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="number"
                      class="form-control"
                      id="price"
                      name="price"
                      placeholder="Fruit Price"
                    />
                    <label for="name">Fruit Price</label>
                  </div>
                </div>

                <!-- DISCOUNT  -->
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="number"
                      class="form-control"
                      id="discount"
                      name="discount"
                      placeholder="Fruit Discount"
                    />
                    <label for="email">Fruit Discount</label>
                  </div>
                </div>

                <!-- DETAIL  -->
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="detail"
                      name="detail"
                      placeholder="Fruit Details"
                    />
                    <label for="name">Fruit Details</label>
                  </div>
                </div>

                <!-- IMAGE  -->
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="image"
                      name="image"
                      placeholder="Fruit Image"
                    />
                    <label for="email">Fruit Image</label>
                  </div>
                </div>

                <!-- SUBMIT  -->
                <div class="col-12">
                  <button
                    class="btn btn-primary rounded-pill py-3 px-5"
                    type="submit"
                  >
                    Add Fruit
                  </button>
                </div>
              </div>
            </form>
            <!-- FORM END  -->
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->
    <!-- ADD FRUIT FORM  End -->
