




    <!-- Page Header Start -->
    <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">Order Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">orders</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Contact Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">FORMKA DALABAADKA (ORDER FORMS)</h1>
                <p>Fadlan Gali Dalabaadkaaga Formkan Hoose</p>
            </div>
            <div class="row g-5 justify-content-center">
             
                <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <!-- <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p> -->
                    <form method="post" action="/admin/contact">
                        <div class="row g-3">
                            <!-- <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="id" name="id" placeholder="Your id">
                                    <label for="name">Your id</label>
                                </div>
                            </div> -->
                            <div class="col-md-6">
                              <div class="form-floating">
                                  <input
                                   type="text" 
                                   class="form-control" 
                                   id="name" 
                                   name="name" 
                                   placeholder="Your name">
                                  <label for="name">Your name</label>
                              </div>
                          </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="email"  name="email" placeholder="Your phone">
                                    <label for="email">Your phone</label>
                                </div>
                            </div> 
                            <!-- <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div> -->
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" name="message" style="height: 200px"></textarea>
                                    <label for="ENTER ORDER">ENTER ORDER</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Send Order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Google Map Start -->
    <div class="container-xxl px-0 wow fadeIn" data-wow-delay="0.1s" style="margin-bottom: -6px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d728.769089364779!2d44.03621175481968!3d9.567064998803303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1628bf406991c205%3A0xc9bfa5bd430822d4!2sFreshly%20Fruit!5e1!3m2!1sen!2sso!4v1670947771327!5m2!1sen!2sso" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    <!-- Google Map End -->

